<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CompanyMapper">
	
	<resultMap id="EmployeeResult" type="Employee">
		<id property="ssn" column="ssn" />
		<result property="fname" column="fname" />
		<result property="lname" column="lname" />
		<result property="salary" column="salary" />
	</resultMap>

	<select id="selectAllemployees" resultMap="EmployeeResult">
		SELECT fname, lname, ssn, salary FROM employee
	</select>
	
	<select id="selectBySalary" resultMap="EmployeeResult">
		SELECT fname, lname, ssn, salary FROM employee where salary > 30000
	</select>
	
    <select id="selectBySalaryAmount" resultMap="EmployeeResult">
		SELECT fname, lname, ssn, salary FROM employee where salary =#{salaryAmount}
	</select>
	


</mapper>